<a href="https://colab.research.google.com/github/BalavSha/Deep-Learning/blob/main/Recurrent_Neural_Network(RNNs).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> **Recurrent Neural Network(RNNs)** </center>

--> ANNs to handle sequential data

You need to develop RNN models that can do the following:


*   Handle variable-length input sequences

*   Track long-term dependencies in the data

*   Maintain information about the sequence's order

*   Share parameters across the entirety of the sequence

### **Training an ANN for Sequential Data - Nvidia Stock prediction**


*   **target variable** -> Price of stock in a given day
*   **features** -> Price of a stock in a previous 60 days

In [1]:
# import required libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

1. Import Nvidia Stock Data:

In [2]:
# import dataset
data = pd.read_csv("https://raw.githubusercontent.com/PacktWorkshops/The-TensorFlow-Workshop/master/Chapter09/Datasets/NVDA.csv")

# display first 5 rows of the dataset
data.head()

         Date       Open       High    Low      Close  Adj Close   Volume
0  2015-07-22  19.650000  19.650000  19.17  19.410000  18.851749  8911800
1  2015-07-23  19.450001  19.940001  19.41  19.650000  19.084845  4247900
2  2015-07-24  19.790001  19.809999  19.34  19.420000  18.861464  4721100
3  2015-07-27  19.250000  19.530001  19.09  19.309999  18.754622  4810500
4  2015-07-28  19.360001  19.860001  19.16  19.730000  19.162542  4957700

2. Split the dataset into training and test sets:

In [ ]:
#